<a href="https://colab.research.google.com/github/SihyunPark01/Colab/blob/main/Ch03.%EB%94%A5%EB%9F%AC%EB%8B%9D%20/%204_%ED%85%90%EC%84%9C%ED%94%8C%EB%A1%9C_iris_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
날짜 : 21/10/26 
이름 : 박시현
내용 : 텐서플로 iris 실습
"""


import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import mse
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [3]:
# 학습데이터
iris_data = df_iris[['sepal.length','sepal.width','petal.length','petal.width']]
iris_label = df_iris['variety']
iris_label

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [ ]:
# 원-핫 인코딩(문자열로 된 라벨을 0, 1로 부호화)
encoder = LabelEncoder()
encoder.fit(iris_label)

transformed_label = encoder.transform(iris_label)
iris_label_cate = to_categorical(transformed_label)
iris_label_cate

In [ ]:
# 학습데이터, 학습라벨
train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label_cate)
train_label

In [ ]:
# 학습모델 설계
model = Sequential()
model.add(Dense(units=4, input_dim=4, activation='sigmoid'))
model.add(Dense(units=3, activation='sigmoid'))

model.summary()

In [9]:
# 모델 설정

# loss='mean_squared_error' : 수치예측
# loss='categorical_crossentropy' : 다중분류 ***** iris는 여기에 해당
# loss='binary_crossentropy' : 이진분류

model.compile(loss='categorical_crossentropy', optimizer='Adam', metrics=['acc'])

In [ ]:
# 학습하기
model.fit(train_data, train_label, epochs=1000)

In [12]:
# 평가하기
result = model.evaluate(test_data, test_label)
result

2/2 [==============================] - 0s 4ms/step - loss: 0.1813 - acc: 0.9474

[0.181289404630661, 0.9473684430122375]