<a href="https://colab.research.google.com/github/SihyunPark01/Colab/blob/main/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20/%2011_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%AA%A8%EB%8D%B8%ED%8F%89%EA%B0%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
"""
날짜 : 21/10/21
이름 : 박시현
내용 : 머신러닝 모델평가 실습하기
"""
import pandas as pd
from sklearn import svm, metrics, model_selection
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [10]:
# 데이터 불러오기
df_iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [37]:
# 훈련 데이터
iris_data = df_iris.iloc[:, 0:4]
iris_label = df_iris.iloc[:, 4]

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label, test_size=0.01)
train_data.shape

(148, 4)

In [38]:
# 학습하기
model1 = svm.SVC()
model2 = RandomForestClassifier()

model1.fit(train_data, train_label)
model2.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [39]:
# 테스트하기
result_model1 = model1.predict(test_data)
result_model2 = model2.predict(test_data)

In [40]:
# 모델평가1 - 정확도(Accuracy) 확인
score1 = metrics.accuracy_score(test_label, result_model1)
score2 = metrics.accuracy_score(test_label, result_model2)
print('score1 :', score1)
print('score2 :', score2)

score1 : 1.0
score2 : 1.0

In [41]:
# 모델평가2 - 혼동행렬 평가
cm1 = confusion_matrix(test_label, result_model1)
cm2 = confusion_matrix(test_label, result_model2)
print('cm1')
print(cm1)
print('cm2')
print(cm2)

cr1 = classification_report(test_label, result_model1, target_names=['setosa','versicolor','virginica'])
cr2 = classification_report(test_label, result_model2, target_names=['setosa','versicolor','virginica'])
print(cr1)
print(cr2)

cm1
[[2]]
cm2
[[2]]

ValueError: ignored

In [42]:
# 모델평가3 - K-교차검증 평가
score1 = cross_val_score(model1, train_data, train_label, cv=5)
score2 = cross_val_score(model2, train_data, train_label, cv=5)
print(score1)
print(score2)

[1.         0.96666667 0.86666667 1.         0.96551724]
[0.96666667 0.96666667 0.9        1.         0.96551724]