<a href="https://colab.research.google.com/github/SihyunPark01/Colab/blob/main/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20/%207_%EC%84%9C%ED%8F%AC%ED%8A%B8%EB%B2%A1%ED%84%B0%EB%A8%B8%EC%8B%A0_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
"""
날짜 : 21/10/20
이름 : 박시현
내용 : 서포트벡터머신 실습하기
"""

import pandas as pd
from sklearn import svm, metrics
#from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [14]:
######## XOR 머신러닝 ########
train_data = [[0,0],[0,1],[1,0],[1,1]]
train_label = [0,1,1,0]

In [15]:
# 학습하기
model = svm.SVC()
#model = LogisticRegression() 결과값 0 나오죠?
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [16]:
# 테스트하기
test_data = [[0,1],[1,1],[1,0]]
model.predict(test_data)

array([1, 0, 1])

In [25]:
####################### iris 머신러닝 ###########################
# 데이터 불러오기
df_iris=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/iris.csv')
df_iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [33]:
# 학습데이터 
iris_data = df_iris.iloc[:,0:4]
iris_label = df_iris.iloc[:,4]
iris_label

# 과적합방지를 위해 뒤섞어주자
train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)
train_data

     sepal.length  sepal.width  petal.length  petal.width
19            5.1          3.8           1.5          0.3
99            5.7          2.8           4.1          1.3
81            5.5          2.4           3.7          1.0
49            5.0          3.3           1.4          0.2
66            5.6          3.0           4.5          1.5
..            ...          ...           ...          ...
131           7.9          3.8           6.4          2.0
1             4.9          3.0           1.4          0.2
136           6.3          3.4           5.6          2.4
109           7.2          3.6           6.1          2.5
53            5.5          2.3           4.0          1.3

[112 rows x 4 columns]

In [37]:
# 학습하기
model = svm.SVC()
model.fit(train_data, train_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [38]:
# 테스트하기
result = model.predict(test_data)

In [39]:
# 성능평가
metrics.accuracy_score(result, test_label)

0.9736842105263158

In [78]:
####################### pima 머신러닝 ###########################
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv')
df_pima

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [83]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]
pima_data

train_data, test_data, train_label, test_label = train_test_split(pima_data, pima_label)
train_data

     6  148  72  35    0  33.6  0.627  50
140  5  106  82  30    0  39.5  0.286  38
754  1  128  88  39  110  36.5  1.057  37
418  3  129  64  29  115  26.4  0.219  28
341  1    0  68  35    0  32.0  0.389  22
692  7  129  68  49  125  38.5  0.439  43
..  ..  ...  ..  ..  ...   ...    ...  ..
333  1   95  60  18   58  23.9  0.260  22
579  0  151  90  46    0  42.1  0.371  21
203  6  103  72  32  190  37.7  0.324  55
425  0   94   0   0    0   0.0  0.256  25
129  4  173  70  14  168  29.7  0.361  33

[575 rows x 8 columns]

In [84]:
# 학습하기
model=svm.SVC()
model.fit(pima_data, pima_label)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [85]:
# 테스트하기
result1 = model.predict(pima_data)

In [87]:
# 성능평가
score = metrics.accuracy_score(result1, pima_label)
score

0.7666232073011734